/* Admin module styles */
#admin-toolbar #block-admin_notes-admin_notes textarea {
  background-color: #FFF;
  border-width: 0;
  color: #000;
  font-size: 14px;
  width: 100%;
}

#admin-toolbar #block-admin_notes-admin_notes .grippie {
  width: 101%;
}

#admin-toolbar span#admin-tab-admin_notes-admin_notes.admin-tab-admin_notes-admin_notes {
  width: 100%;
  display: block;
  background: url("../images/comment_yellow.gif") no-repeat scroll right top transparent;
}

#admin-toolbar.horizontal span#admin-tab-admin_notes-admin_notes.admin-tab-admin_notes-admin_notes {
  width: 155%;
}

#edit-admin-note-wrapper div.messages.status {
  color: green;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  text-align: center;
}